/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 Apr, 2015, 8:45:40 PM
    Author     : Sreejith
*/

article, aside, figure, footer, header, nav, section {
    display: block;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: auto;
    margin-top: 10em;
    width: 650px;
    
}

section {

    padding-top: 2em;
}
label {
    float: left;
    width: 11em;
    text-align: left;
}
input {
    width: 12em;
    margin-left: 1em;
    margin-bottom: .5em;
}
span {
    color: red;
}
#forBtn {
    padding-left: 10em;
}
p #errorMsg {
    color: red;
    font-size: 50em;
}


